DATABASE_URL=postgresql://user:password@db:5432/belimang
DEBUG=False

MINIO_ENDPOINT=localhost:9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=False
MINIO_BUCKET=uploads
MINIO_PUBLIC_URL=localhost:9001

